<div>
    <div>
        <ul>
            <% _.each(jobs, function(job) { %>
            <li>
                <a href="#jobs/<%= job.id %>">
                    <%= job.name %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <div>
        <div id="job-content"></div>
    </div>
</div>
