<div>
    <div>
        <ul>
            <% jobs.each(function(job) { %>
            <li>
                <a href="#jobs/<%= job.get('id') %>">
                    <%= job.get('name') %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <div>
        <div id="job-content"></div>
    </div>
</div>
