<ul class="nav nav-pills">
    <li><a href="#"><%= t('menu.home') %></a></li>
    <li><a href="#profile"><%= t('menu.profile') %></a></li>
    <li><a href="#jobs"><%= t('menu.jobs') %></a></li>
    <li><a href="#contact"><%= t('menu.contact') %></a></li>
</ul>
